/* stardew-checkup.css
 * https://mouseypounds.github.io/stardew-checkup/
 */

html {
	min-height: 100%;
	background-attachment: fixed;
	background-color: #80a0f0; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #80a0f0, #c0ffff, #40c040); /* Standard syntax; must be last */
}
body {
	margin: 15px;
	color: #603000;
}
a:link, a:visited { color: #804000; }
a:hover { color: #d08000; }
a:active { color: #ffa000; }
h3 {
	margin: 20px 0 4px;
}
.panel {
	background-color: #ffe0b0;
	padding: 8px 10% 8px 12px;
	margin: 5px;
	border: 5px solid #804000;
	border-radius: 15px;
}
#footer {
	padding-right: 12px;
}
#input-container { display: none; }
#output-container { display: none; }
#progress-container { display: none; }
.error {
	font-weight: bold;
	font-size: 150%;
	color: #ff0000;
}
.path {
	font-family: monospace;
}
#footer {
	text-align: center;
}
.ach,.warn {
	font-style: italic;
}
.pts {
	font-weight: bold;
}
.ach_yes,.ms_yes,.pt_yes {
	color: #004000;
}
.ach_yes:before,.ms_yes:before {
	content: "\2714 ";
	margin-right: 3px;
}
.ach_no,.ms_no,.pt_no {
	color: #c00000;
}
.ach_no:before,.ms_no:before {
	content: "\2718 ";
	margin-right: 3px;
}
.ach_list {
	list-style: none;
	padding-left: 50px;
	margin-top: 0px;
	margin-bottom: 4px;
	text-indent: -15px;
}
.result:before {
	content: "\25c8 ";
	margin-right: 3px;
}
.result {
	padding-left: 15px;
}
.need:before,.warn:before {
	content: "! ";
	font-weight: bold;
	margin-right: 3px;
}
.need {
	margin-left: 38px;
}
.need > ul {
	margin-left: 48px;
	margin-top: 0px;
}
.need > ol {
	margin-left: 48px;
	margin-top: 0px;
}
#TOC {
	position: fixed;
	right: 0;
	top: 0;
	padding: 0;
	max-height: 90%;
	max-width: 200px;
	overflow: auto;
	background-color: #eecc99;
	box-shadow: -2px 2px 25px #603000;
}
#TOC, #TOC-details {
	display:none;
}
#TOC:hover #TOC-details {
	display:block;
}
#TOC > h1, #TOC li a {
	padding: 5px 10px;
	display: block;
}
#TOC > h1 {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	background-color: #804000;
	color: #eecc99;
}
#TOC ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#TOC li a {
	color: #60300;
	text-decoration: none;
}
#TOC li a:hover {
	background-color: #ffe0b0;
}
